

      <div class="row">
        <div class=".col-xs-12 .col-sm-12 col-md-12">
          <p class="verde s14 bold">TOP FUTBALL</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-2"></div>
        <div  class="col-xs-12 col-sm-12 col-md-8 inactivo"><p class="mt10 ">Combo(hasta 30% extra)</p></div>

      </div>
      <div class="row">
        <div class="col-md-2"></div>
        <div class="col-xs-12 col-sm-12 col-md-8 inactivo"><p class="mt10">Euro 2016</p></div>
      </div>
      <div class="row">
        <div class="col-md-2"></div>
        <div class="col-xs-12 col-sm-12 col-md-8 inactivo"><p class="mt10">Amistosos internacionales</p></div>
      </div>
      <div class="row">
        <div class="col-md-2"></div>
        <div class="col-xs-12 col-sm-12 col-md-8 inactivo"><p class="mt10">ACON - Calificados</p></div>
      </div>
      <div class="row">
        <div class="col-md-2"></div>
        <div class="col-xs-12 col-sm-12 col-md-8 inactivo"><p class="mt10">Premier league</p></div>
      </div>

      <div class="row mt30">
        <div class="col-xs-12 col-sm-12 col-md-12">
          <p class="verde s14 bold">Favoritos</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-2"></div>
        <div class="col-xs-12 col-sm-12 col-md-8 inactivo">
        	<p class="mt10 gris-claro s12">
        		Para seleccionar favoritos, hacer click en el área de apuestas 
        	</p>
        </div>
      </div>
  

      <div class="row mt40">
        <div class="col-xs-12 col-sm-12 col-md-12">
          <p class="verde s14 bold">34,980 Apuestas</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-2"></div>
        <div class="col-xs-12 col-sm-12 col-md-10 inactivo">
        	<div class="circle bg-verde"></div><p class="mt10">FUtbol</p></div>
      </div>
      <div class="row">
        <div class="col-md-2"></div>
        <div class="col-xs-12 col-sm-12 col-md-10 inactivo">
        	<div class="circle bg-azul"></div><p class="mt10">Tennis</p></div>
      </div>
      <div class="row">
        <div class="col-md-2"></div>
        <div class=".col-xs-12 .col-sm-12 col-md-10 inactivo">
        	<div class="circle bg-rosado"></div><p class="mt10">FUtbol Americano</p></div>
      </div>

      <div class="row">
        <div class="col-md-2"></div>
        <div class=".col-xs-12 .col-sm-12 col-md-10 inactivo">
        	<div class="circle bg-morado"></div><p class="mt10">Basketball</p></div>
      </div>

       <div class="row">
        <div class="col-md-2"></div>
        <div class=".col-xs-12 .col-sm-12 col-md-10 inactivo">
        	<div class="circle bg-mostaza"></div><p class="mt10">ICe hockey</p></div>
      </div>

  
      <div class="row">
        <div class="col-md-2"></div>
        <div class=".col-xs-12 .col-sm-12 col-md-10 inactivo">
        	<div class="circle bg-carne"></div><p class="mt10">ICe hockey</p></div>
      </div>
      <div class="row">
        <div class="col-md-2"></div>
        <div class=".col-xs-12 .col-sm-12 col-md-10 inactivo">
        	<div class="circle bg-azul-claro"></div><p class="mt10">FOrmula 1</p></div>
      </div>
      <div class="row mt30">
        <div class="col-xs-12 col-sm-12 col-md-12">
          <p class="verde s14 bold">19 deportes </p>
        </div>
      </div>
     