

      <div class="row">
        <div class=".col-xs-12 .col-sm-12 col-md-12">
          <p class="verde s14 bold">MOVIMIENTOS DE CUENTA</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-2"></div>
        <div  class="col-xs-12 col-sm-12 col-md-8 inactivo"><p class="mt10 ">Transacciones</p></div>

      </div>
      <div class="row">
        <div class="col-md-2"></div>
        <div class="col-xs-12 col-sm-12 col-md-8 inactivo"><p class="mt10">Deposito/Retiros</p></div>
      </div>
      <div class="row">
        <div class="col-md-2"></div>
        <div class="col-xs-12 col-sm-12 col-md-8 inactivo"><p class="mt10">Registros</p></div>
      </div>

      <div class="row mt30">
        <div class="col-xs-12 col-sm-12 col-md-12">
          <p class="verde s14 bold">PAGOS</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-2"></div>
        <div class="col-xs-12 col-sm-12 col-md-8 inactivo"><p class="mt10">Depositos</p></div>
      </div>
      <div class="row">
        <div class="col-md-2"></div>
        <div class="col-xs-12 col-sm-12 col-md-8 inactivo"><p class="mt10">Limite depositos</p></div>
      </div>
      <div class="row">
        <div class="col-md-2"></div>
        <div class="col-xs-12 col-sm-12 col-md-8 inactivo"><p class="mt10">Retiros</p></div>
      </div>

      <div class="row mt30">
        <div class="col-xs-12 col-sm-12 col-md-12">
          <p class="verde s14 bold">OFERTAS ESPECIALES</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-2"></div>
        <div class="col-xs-12 col-sm-12 col-md-10 inactivo"><p class="mt10">Mis Bonos</p></div>
      </div>
      <div class="row">
        <div class="col-md-2"></div>
        <div class="col-xs-12 col-sm-12 col-md-10 inactivo"><p class="mt10">Registro de Bonos</p></div>
      </div>
      <div class="row">
        <div class="col-md-2"></div>
        <div class=".col-xs-12 .col-sm-12 col-md-10 inactivo"><p class="mt10">Mis Promociones</p></div>
      </div>

      <div class="row">
        <div class="col-md-2"></div>
        <div class=".col-xs-12 .col-sm-12 col-md-10 inactivo"><p class="mt10">Comunicación</p></div>
      </div>

      <div class="row mt30">
        <div class="col-md-2">
          <p class=".col-xs-12 .col-sm-12 verde s14 bold">CONFIGURACIÓN</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-2"></div>
        <div class=".col-xs-12 .col-sm-12 col-md-10 inactivo"><p class="mt10">Perfil</p></div>
      </div>
      <div class="row">
        <div class="col-md-2"></div>
        <div class=".col-xs-12 .col-sm-12 col-md-10 inactivo"><p class="mt10">Preferencias</p></div>
      </div>
     