<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>    
  </div>
  
  <div class="navbar-collapse collapse">
    <ul class="nav navbar-nav navbar-left">
        <li><a href="#">Home</a></li>
        <li><a href="#about">Acercad de Nosotros</a></li>
        <li><a href="#about">Eventos de Apuestas</a></li>
        <li><a href="#about">Blog</a></li>
        <li><a href="#about">Contacto</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right ">
      <li class="mt10"><img src="../public/img/login.png" class="img-responsive"></li>
      <li><a href="#" ><p class="mostaza s10">Ingresar</p></a></li>
      <li class="mt10"><img src="../public/img/register.png" class="img-responsive"></li>
      <li class="mr50"><a href="#"><p class="mostaza s10">Registrarse</p></a></li>
    </ul>
  </div>
  <div class="bg">
  <div class="logo">
    <img src="../public/img/logo.png" class="img-responsive">
  </div>

    
  </div>

  

</nav>

