 <div class="row ">
        	<div class="col-md-1"></div>
          	<div class="col-md-10">
            	<p class="s16 bold mt30">Detalle Personal</p>
          	</div>
       	</div>
         <div class="row">
            <div class="col-md-12"><hr class="dashed"></div>
            
        </div>

        <div class="row">
          	<div class="col-md-1"></div>
            <div class="col-sm-1 col-md-1">
              <p class="mt10">Titulo</p>
            </div>
            <div class="col-sm-1 col-md-1">
              <input  type="radio" name="radio" checked value="1">
            </div>
            <div class="col-sm-1 col-md-1">
              <input type="radio" name="radio" value="0">
            </div>
            <div class="col-sm-5 col-md-5">
              
            </div>
            <div class="col-md-1"></div>
        </div>
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-sm-5 col-md-5">
              
            </div>
            <div class="col-sm-5 col-md-5">
            
            </div>
            <div class="col-md-1"></div>
        </div>
         <div class="row mt10">
            <div class="col-md-1"></div>
            <div class="col-sm-5 col-md-5">
              <p>Apellido</p>
            </div>
            <div class="col-sm-5 col-md-5">
              <p>Fecha Nacimiento</p>
            </div>
            <div class="col-md-1"></div>
        </div>
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-sm-4 col-md-4">
              <input  type="text" name="firstname" required>
            </div>
            <div class="col-md-1"></div>
            <div class="col-sm-4 col-md-4">
               <input required type="date" name="fecha">
            </div>
            <div class="col-md-2"></div>
            
        </div>
         <div class="row mt10">
            <div class="col-md-1"></div>
            <div class="col-sm-4 col-md-4">
              <p>Residencia</p>
            </div>
            <div class="col-md-1"></div>
            <div class="col-sm-4 col-md-4">
            
            </div>
            <div class="col-md-2"></div>
        </div>
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-sm-4 col-md-4">
              <input required type="text" name="firstname">
            </div>
            <div class="col-md-1"></div>
            <div class="col-sm-4 col-md-4">
             
            </div>
            <div class="col-md-2"></div>
        </div>
         <div class="row mt10">
            <div class="col-md-1"></div>
            <div class="col-sm-4 col-md-4">
              <p>Ciudad</p>
            </div>
            <div class="col-md-1"></div>
            <div class="col-sm-4 col-md-4">
              <p>Provincia</p>
            </div>
            <div class="col-md-2"></div>
        </div>
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-sm-4 col-md-4">
              <input required type="text" name="firstname">
            </div>
            <div class="col-md-1"></div>
            <div class="col-sm-4 col-md-4">
                <input required type="text" list="countries"/>
                    <datalist id="countries">
                      <option value="Afghanistan">
                      <option value="Albania">
                      <option value="United Kingdom">
                      <option value="United States">
                      <option value="Vanuatu">
                      <option value="Vatican City">
                      <option value="Yemen">
                      <option value="Zambia">
                      <option value="Zimbabwe">
                    </datalist>
            </div>
            <div class="col-md-2"></div>
        </div>

         <div class="row mt10">
            <div class="col-md-1"></div>
            <div class="col-sm-12 col-md-9">
              <p>Direccion</p>
            </div>
            <div class="col-md-2"></div>
        </div>
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-sm-9 col-md-9">
              <input required type="text" name="firstname">
            </div>
          
            <div class="col-md-1"></div>
        </div>
         <div class="row mt10">
            <div class="col-md-1"></div>
            <div class="col-sm-4 col-md-4">
              <p>Moneda</p>
            </div>
            <div class="col-md-1"></div>
            <div class="col-sm-4 col-md-4">
             <p>Telefono</p>
            </div>
            <div class="col-md-1"></div>
        </div>
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-sm-4 col-md-4">
              <select name="mone" class="input-select">
              <option value="eu">Euros</option>
              <option value="do">Dolares</option>
              <option value="ye">Yenes</option>
              <option value="pe">Pesos</option>
              <option value="li">Libras</option>
              </select>
            </div>
            <div class="col-md-1"></div>
            <div class="col-sm-4 col-md-4">
              <select name="phone" class="input-select">
              <option value="0416">0416</option>
              <option value="0426">0426</option>
              <option value="0412">0412</option>
              <option value="0414">0414</option>
              <option value="0414">0424</option>
              </select>
            <input required class="input-tel" type="tel" name="telephone">
            </div>
            <div class="col-md-2"></div>
        </div>
         <div class="row mt10">
            <div class="col-md-1"></div>
            <div class="col-sm-4 col-md-4">
              <p>Correo Electronico</p>
            </div>
            <div class="col-sm-5 col-md-5">
             
            </div>
            <div class="col-md-1"></div>
        </div>

        <div class="row mt10">
            <div class="col-md-1"></div>
            <div class="col-sm-4 col-md-4">
              <input required type="email" name="correo">
            </div>
            <div class="col-md-1"></div>
            <div class="col-sm-4 col-md-4">
             
            </div>
            <div class="col-md-2"></div>
        </div>
           <div class="row mt40 mb50">
            <div class="col-md-1"></div>
            <div class="col-sm-4 col-md-4">
              
            </div>
            <div class="col-md-1"></div>
            <div class="col-sm-4 col-md-4 text-right">
              <button type="button" class="btn scs">Registrarse</button>
            </div>
            <div class="col-md-2"></div>
        </div>